@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Reckless";
  src: url("/src/assets/RecklessNeueTRIAL-Book.otf") format("opentype");
}

.instrument {
  font-family: "Instrument Sans", sans-serif;
}

.reckless {
  font-family: "Reckless";
}

/* .normal-cursor {
  cursor: auto !important;
} */

@layer base {
  .center-x {
    @apply left-[50%] translate-x-[-50%];
  }
  .center-y {
    @apply top-[50%] translate-y-[-50%];
  }
  .center-x-y {
    @apply top-[50%] translate-y-[-50%] left-[50%] translate-x-[-50%];
  }

  .loader-pic {
    @apply absolute object-center bg-[#141316];
  }
  /* 
  .wishes-word {
    @apply 
  } */
}

.pageOverlay {
  clip-path: ellipse(165% 100% at 50% 100%);
  /* clip-path: ellipse(60% 100% at 50% 100%); */
  /* clip-path: ellipse(100% 60% at 100% 50%);  */
  /* background: linear-gradient(90deg, #8ec5ff, #e0c3fc); */
  /* use both for better browser coverage */
  /* -webkit-clip-path: url(#semiTopClip);
  clip-path: url(#semiTopClip); */

  /* clip-path: inset(0 0 0 0 round 140% 140% 0 0); */
  /* transition: 0.7s ease-in-out; */
}

.pageOverlay:hover {
  /* clip-path: inset(0 0 0 0 round 0% 0% 0 0); */
}
