@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Reckless";
  src: url("/src/assets/RecklessNeueTRIAL-Book.otf") format("opentype");
}

.instrument {
  font-family: "Instrument Sans", sans-serif;
}

.reckless{
    font-family: "Reckless";
}

@layer base {
}
